.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    min-width: 300px;
    

    background-color: #212922;

}

.lessened {
    display: none;
}

.bar {
    width: 100%;
    height: 64px;

    
    display: flex;
    justify-content: space-between;

    align-items: center;
    border-bottom: solid rgba( 255,255,255, 0.6) 1px;
}

.x {
    color: rgba( 255,255,255, 0.6);
    font-size: 52px;
}

.logo {
    color: rgb( 200, 255, 200, 0.6);
    font-size: 42px;
}
