.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 350px;

    background-color: #22333B;
}

.lessened {
    display: none;
}

.bar {
    width: 100%;
    height: 64px;

    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.x {
    color: #FFFFFF;
    font-size: 52px;

    position: fixed;

}