.container {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    background-color:#5B8266;
}

.bar {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px; 
    gap: 10px;
    border-bottom: solid rgba( 255,255,255, 0.6) 1px;

    
}

.input {
    width: 100%;
    max-width: 600px;
    background-color: rgba( 255, 255, 255, 0.5);

    height: 52px;
    border-radius: 24px;
    border: solid rgba( 0, 0, 0, 0.6) 1px;

    font-size: 24px;
    
    padding-left: 24px;

}

.list {
    color:rgba( 0, 0, 0, 0.6);
    font-size: 52px;
}

.searchIcon{
    color:rgba( 0, 0, 0, 0.6);
    font-size: 38px;
}
.playlistsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}